@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Course {
  &-footer {
    max-width: $layout-course-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &-comments {
    max-width: $layout-course-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &-home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

}

@include breakpoint-md {
  .course {
    &-footer {
      padding: 0;
    }

    &-comments {
      padding: 0;
    }

    &-home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }

}