@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Lesson {
  padding: 0 15px;
  margin: 0 auto;

  &-title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-course-width;
    font-weight: 600;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }

  &-body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    & img {
      max-width: 100%;
    }

  }

  &-time {
    font-weight: 800
  }
  &-homeButton {
    display: block;
    height: $button-height;
    line-height: $button-height;
    color: $color-base;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

}

