@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &-icon {
    height: 5em;
    animation:spin 40s linear infinite;
    fill: purple;
  }
  @keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
   }
  }

  &-title {
    font-size: $typographic-base-font-size * 1.5;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(1, 0, 0, 0);

    &--link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &-subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}